* {
    background-color:rgb(239, 244, 248);
}

body {
    display: flex;
    flex-direction: column;
    height: 960px;
    justify-content: center;
    align-items: center;
}

#quizSpace {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: none;
}

#quizSpace div {
    background-color: #313638;
    display: flex;
    width: 65%;
    height: 60%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}

#quizSpace h2 {
    text-decoration: underline;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#question {
    display: flex;
    text-align: center;
    text-decoration: none;
}

#answers p {
    display: flex;
    background-color: rgb(161, 161, 231);
    color: black;
    width: 65%;
    height: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: solid black;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

#answers p:hover {
    opacity: 80%;
    cursor: pointer;
}

#startButton {
    background-color: lightcoral;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

#startButton:hover {
    opacity: 80%;
}

#description {
    text-align: center;
    font-family: monospace;
    font-size: larger;
    border: dashed 4px black;
    margin-top: 10px;
    padding: 2px;
}

#highScorePage {
    height: 80%;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

#highScorePage div {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#score {
    font-size: 30px;
}

#scoreUpdate {
    display: none;
    align-items: center;
    justify-content: center;
}

#playAgain {
    background-color: lightcoral;
    margin-top: 30px;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    width: 50%;
    height: 10%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#playAgain:hover {
    opacity: 80%;
}

#joinForm {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#highScoreList {
    list-style: none;
    padding: 0;
    border: solid black 1px;
    width: 100%;
}

#highScoreList li:nth-child(odd) {
    background-color: rgb(183, 188, 196);
}

#join {
    background-color: lightcoral;
    display: flex;
    padding: 0;
    width: 90%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
}

#join:hover {
    cursor: pointer;
    opacity: 80%;
}



@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    main {
      max-width: 1200px;
    }
  }
  

