* {
    background-color: #FAF9F6; 
}

body {
    display: flex;
    flex-direction: column;
    height: 960px;
    justify-content: center;
    align-items: center;
}

#quizSpace {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: none;
}

#quizSpace div {
    background-color: lightcoral;
    display: flex;
    width: 60%;
    height: 60%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#answers p {
    display: flex;
    background-color: lightgreen;
    width: 50%;
    height: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

}

#answers p:hover {
    opacity: 80%;
    cursor: pointer;
}

#startButton {
    background-color: lightcoral;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#startButton:hover {
    opacity: 80%;
}

#description {
    text-align: center;
    font-family: monospace;
    font-size: larger;
}



@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  

